* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    color: #333;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: auto;
}

footer {
    flex: 0 1 100%;
}

@media screen and (max-width: 767px) {
    .backdrop {
        background-image: url("assets/banner-bg-MOB.jpg");
    }
}

@media screen and (min-width: 768px) {
    .backdrop {
        background-image: url("assets/banner-bg.jpg");
    }
}
  

.backdrop {   
    background-position: center;
    background-color: #cccccc;
    background-size: cover;
    background-position: top;
}


/* Font/Text Props */

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.text-gray-950 {
    color: #2c2c2e;
}

/* Background Props  */
.bg-yellow-350 {
    background-color: #fece00;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.form-group label {
    font-weight: 600;
    font-size: 0.85rem;
}

.form-group input {
    padding: 0.75rem 0.5rem;
    width: 100%;
    border: 2px solid #d1d1d1;
    border-radius: 0.25rem;
}

[data-required]:after {
    content: " *";
    color: red;
}